$color-background: #EBEBEB;
$light-grey: #52575D;
$dark-blue: #404A81;
$light-blue: #D0DBE5;
$light-extra-blue: #EAF2FF;
$light-orange: #fce8cf;
$dark-orange: #cb9468;

$red: #BF0000;
$lavendar: #E3E9EF;
$calendar-color: #EBF2F7;
$calendar-day-color: #B3B8BD;

$font-color: #565B61;
$font-color-grey: #A0A0A0;
$font-color-drakGrey: #333333;